################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/SistemaSaude.API/.vs/ProjectEvaluation
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/v17
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/FileContentIndex
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/DesignTimeBuild
