################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/SistemaSaude.API/.vs/ProjectEvaluation
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/v17
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/FileContentIndex
/Backend/SistemaSaude.API/.vs/SistemaSaude.API/DesignTimeBuild
/Backend/SistemaSaude.API/SistemaSaude.API/bin
/Backend/SistemaSaude.API/SistemaSaude.API/obj
Backend/SistemaSaude.API/SistemaSaude.API/bin/Debug/net8.0/SistemaSaude.API.dll
Backend/SistemaSaude.API/SistemaSaude.API/bin/Debug/net8.0/SistemaSaude.API.exe
Backend/SistemaSaude.API/SistemaSaude.API/bin/Debug/net8.0/SistemaSaude.API.pdb
Backend/SistemaSaude.API/SistemaSaude.API/obj/project.assets.json
Backend/SistemaSaude.API/SistemaSaude.API/obj/project.nuget.cache
Backend/SistemaSaude.API/SistemaSaude.API/obj/SistemaSaude.API.csproj.nuget.dgspec.json
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/apphost.exe
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.AssemblyInfo.cs
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.AssemblyInfoInputs.cache
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.assets.cache
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.dll
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.pdb
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/SistemaSaude.API.sourcelink.json
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/ref/SistemaSaude.API.dll
Backend/SistemaSaude.API/SistemaSaude.API/obj/Debug/net8.0/refint/SistemaSaude.API.dll
