<div class="nav-menu">
    <button class="hamburger-button" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <nav [ngClass]="{ 'show': isMenuOpen }">
        <ul>
            <li *ngFor="let menuItem of menuItems" [ngClass]="{ 'open': menuItem.isOpen }">
                <a [routerLink]="[menuItem.url]" [ngClass]="{ 'is-active': isActive(menuItem.url!, false) }"
                    (click)="toggleSubItems(menuItem)">
                    {{ menuItem.text }}
                </a>

                <ul *ngIf="menuItem.subItems && menuItem.isOpen">
                    <li *ngFor="let subItem of menuItem.subItems">
                        <a [routerLink]="[subItem.url]" [ngClass]="{ 'is-active': isActive(subItem.url!, false) }">
                            {{ subItem.text }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>